[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
pytz = "*"
django-treebeard = "*"
django-taggit = "*"
rules = "*"
django-braces = "*"
django_model_utils = {git = "https://github.com/maceoutliner/django-model-utils.git", editable = true, ref = "1259f0a35d25e2d9b702002044d8a8f1195d1afe"}


[dev-packages]

django-test-plus = "*"
wheel = "*"
coverage = ">=4.4.1"
mock = ">=1.0.1"
"flake8" = ">=2.1.0"
codecov = ">=2.0.0"
pytest-django = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
pytest = "*"
pipenv = "*"
"pytest-flake8" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
bumpversion = "*"


[requires]

python = "3.6"


[pipenv]

keep_outdated = true
